html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9a0000;
    color: #fff;
    padding: 10px;
}

.logo {
    width: 100px;
    height: 100px;
}

.menu {
    width: 100px;
    height: 100px;
}

.search {
    width: 100px;
    height: 100px;
}

.user {
    width: 100px;
    height: 100px;
}

.register { 
    width: 100px;
    height: 100px;
}

.login {
    width: 100px;
    height: 100px;
}

.logout {
    width: 100px;
    height: 100px;
}

.banner {
    width: 100%;
    height: 100%;
}

.products {
    width: 100%;
    height: 100%;
}

.product {
    width: 100%;
    height: 100%;
}

.video {
    width: 100%;
    height: 100%;
}

footer {
    background-color: #333;
    color: #000000;
    padding: 10px;
}

p {
    color: #000000;
}
